# Estas variables deben coincidir con el valor que tengan en Heroku
BOT_TOKEN=
HEROKU_APP_NAME=
OPENWEATHER_TOKEN=
SECRET_TOKEN=
WEB_DOMAIN =
INFO_WEB =
INFO_NOMBRE_BOT =
INFO_TLFNO_CONTACTO =
INFO_EMAIL_CONTACTO =

# Estas variables deben de tener los siguientes valores en local
POLLING=True
DATABASE_URL=sqlite:////tmp/flask_app.db
